extends ../layout

block content
    .form 
      form( action=`/books/edit/${book._id}` id='update_post' autocomplete='off' method='POST')
        input( id='id' value=`${book._id}` type='hidden' )
        label(for='title') title
        input(name='title' id='title' value=`${book.title}` type='text' )
        br
        label(for='author') author
        input(name='author' id='author' value=`${book.author}` type='text' )
        br
        label(for='comments') comments
        input(name='comments' id='comments' value=`${book.comments}` type='text' )
        br
        br
        input(type='submit' value='Submit')

    a(href=`/books`) home

      