<%- include('./inc/header'); -%>
<div class="container">
	<div class="row my-3">
    <%# search form %>
		<div class="offset-md-3 p-4 offset-1 col-10  col-md-6 shadow-sm border-top border-secondary border-3">
      <form action="/search" method="POST">
        <div class="mb-3">
          <label for="search" class="form-label">searching for...</label>
          <input type="text" class="form-control" id="search" name="search">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <hr class="mt-4"> 
    <%# search results %>
    <% if(listings.length) {
      listings.forEach(function(listing){ %>
    <div class="col-12 mb-4 ">
      <a href="/listings/show/<%=listing._id%>" class="btn w-100 btn-light">
        <div class="card" >
          <div class="card-body text-start">
              <div class="d-flex justify-content-between">						
                <p class="fw-bold text-secondary  h5"><%= listing.title %></p>
                <p class="text-muted h6"><%= listing.createdAt.toString().split(' GMT')[0] %></p>
              </div>
            <p class="card-text text-muted  my-4"><%= listing.desc %></p>
            <div class="d-flex justify-content-between">						
              <p class="fw-bold text-secondary h6">$<%= listing.price %></p>
              <p class="text-muted h6"><%= listing.user_name %></p>
            </div>
          </div>
        </div>
      </a>
    </div>     
    <% }) %> 
    <% } else { %>    
    <div class="col-sm-12 mb-4">
        <div class="card text-center " >
          <div class="card-body">
            <h5 class="card-title">no listing available...</h5>
          </div>
        </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('./inc/footer'); -%>
